# Banco de dados
DATABASE_URL=

# WhatsApp Cloud API
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_VERIFY_TOKEN=

# Cron
CRON_SECRET=

# Autenticação do painel
AUTH_SECRET=
